{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
        {% csrf_token %}
        <p>Nombre del post: {{ object.nombre_post }}</p>
        <p>Usuario Creador: {{ object.usuario_creador }}</p>
        <p>Vehículo ID: {{ object.vehiculo_id }}</p>
        <p>Ubicación: {{ object.ubicacion }}</p>
        <p>Descripción: {{ object.descripcion }}</p>
        <p>Precio: {{ object.precio }}</p>
        {% if user.is_authenticated %}
        <p>Teléfono de Contacto: {{ object.usuario_creador.telefono_contacto }}</p>
        {% endif %}
        {% if not user.is_authenticated %}
        <p>Teléfono de Contacto: Para poder ver el teléfono de contacto debes tener una cuenta registrada. Puedes hacerlo en la barra de navegación superior.</p>
        {% endif %}
{% endblock content %}