{% extends "base.html" %}
{% block content %}
{% if not user.is_authenticated %}
<h1 style="text-align: center;">Necesitas una cuenta para poder crear un post</h1>
{% endif %}
{% if user.is_authenticated %}
<h1 style="text-align: center;">Introduce los datos de tu post</h1>
	<div style="text-align: center;">
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="submit">
    </form> 
    </div> 
<!--
<h3 style="color:white;font-weight:bolder">Crear Post</h3>
<div>
<form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<p>Nombre del post</p> {{ post.nombre_post }}
	</br>
	</br>
	<p>ID del vehiculo</p> {{ post.vehiculo_id }}
	</br>
	</br>
	<p>Ubicacion</p> {{ post.ubicacion }}
	</br>
	</br>
	<p>Descripcion</p> 	{{ post.descripcion }}
	</br>
	</br>
	<p>Precio</p> {{ post.precio }}
	</br>
	</br>
	<input type="submit" value="Crear" />
</form>
</div>
-->
{% endif %}
{% endblock %}